html
	head
		title Index
	style
		include pug.css
	nav
		include nav.pug
	body
		br
		h3 Join the The Cool Blogger! (only for cool people)

		form(method="POST", action="/register")
			input(type="text" name="user" placeholder="Username")
			input(type="password" name="pass" placeholder="Password")
			input(type="submit" value="Register")

		p #{text}


